body {
	margin: 0;
	background: #f0f0f0;
	font-family: "Roboto Mono";
	font-size: 14px;
}

header {
	display: flex;
	align-items: center;
	padding: 0px 30px;
	height: 100px;
	background-color: #402158;
	color: #fffbf7;
}

.logo {
	width: 200px;
}

tab-container {
	margin-left: auto;
}

.tab-container div {
	display: inline-block;
	margin-left: 20px;
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: 900;
}

.tab-container div:hover {
	cursor: pointer;
}

.selected-tab {
	border-bottom: 3px solid #fffbf7;
	padding-bottom: 4px;
}

header p {
	justify-content: flex-start;
}

footer {
	height: 100px;
	background-color: #402158;
}
